@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&display=swap');
:root {
    --main-bg-color: #2874f0;
    --main-font: 'Lato',sans-serif;
  }
body{
    padding: 0;
    margin: 0;
}
header.header-top{
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 4;
}
.logo-text{
    color: #fff;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    margin-left: 23px;
}
nav.header-nav{
    height: 60px;
    display: flex;
}
nav.header-nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
nav.header-nav ul li a{
    font-family: var(--main-font);
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
nav.header-nav ul li{
    list-style: none;
    margin: 0 19px;
}
.my-account{
    font-family: var(--main-font);
    font-size: 18px;
    color: #fff;
    position: absolute;
    right: 23px;
}
.btn-login{
    font-size: inherit;
    border: none;
    color: #fff;
    background-color: var(--main-bg-color);
}
logo:hover,nav.header-nav ul li:hover, .btn-login:hover{
    transform: scale(1.1);
    opacity: 0.8;
    transition: 0.3s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(40 116 240 / 95%);
    overflow-x: hidden;
    transition: 0.5s;
}
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
  .overlay a {
    padding: 13px;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 19px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
  
  .overlay a:hover, .overlay a:focus {
      transform: scale(1.2);
    color: #f1f1f1;
}
  
  .overlay .oly-closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 51px;
}
header.header-top .menu-icon{
    font-size:21px;
    cursor:pointer;
    color:white;
    padding: 0 15px;
}

section.bnr-section {
    position: relative;
    top: 60px;
    margin-bottom: 60px;
}
.bnr-img{
    width: 100%;
}
.bnr-text {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}
h1.bnr-heading{
    font-size: 4vw;
    color: #fff;
    margin-bottom: 0;
}
h2.bnr-sub-heading{
    font-size: 2vw;
    color: #fff;
    font-family: var(--main-font);
}
.tbl-section{
    position: relative;
}
.tbl-section .container{
    display: flex;
}
.col-lg-9{
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 40px;
}
h1{
    font-size: 23px;
    font-weight: 900;
    font-family: var(--main-font);
}
.text-center{
    align-items: center;
}
.table-main{
    overflow-x: auto;
}
.table-main table{
    width:100%;
    margin: auto;
    border-collapse: collapse;
    font-family: var(--main-font);
    font-size: 15px;
    text-align: center;
}
table,th,td,tr{
    border: 1px solid #000;
}
th {
    background-color: #2874f0;
    color: #fff;
}
td {
    background-color: #fff2f2;
}
.col-lg-3{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 20px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
a.side-btn {
    padding: 15px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 900;
    margin: 4px 11px;
    border: 1.5px solid #000;
    border-radius: 26px;
    text-decoration: none;
    background-color: rgb(255 242 242);
    color: #000;
    -webkit-transition: all .3s ease-in-out 0s;
}
a.side-btn:hover {
    background-color: var(--main-bg-color);
    color: #fff;
    transition: 0.3s;
}
.text-center{
    text-align: center;
}
footer.footer-bottom{
    background-color: var(--main-bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    font-size: 13px;
    padding: 10px 0;
}
.footer-text{
    display: flex;
    align-items: center;
}
.footer-icons{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.fa {
    padding: 9px;
    font-size: 23px;
    width: 23px;
    text-align: center;
    text-decoration: none;
    margin: 7px;
}
.fa-facebook,.fa-instagram,.fa-twitter,.fa-linkedin {
    background: rgb(239 241 245 / 20%);
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all .2s ease-in-out 0s;
}
.fa-facebook:hover {
    background: #4267B2;
}
.fa-instagram:hover {
    background: #CD486B;
}
.fa-twitter:hover {
    background: #1DA1F2;
}
.fa-linkedin:hover {
    background: #0077b5;
}
.mb-show{
    display: none;
}

@media (max-width:768px) {
    header.header-top{
        height: 50px;
    }
    .logo-text{
        margin: 0;
        font-size: 18px;
    }
    nav.header-nav{
        height: unset;
    }
    nav.header-nav ul {
        padding-inline-start: 0;
    }
    nav.header-nav ul li{
        margin: 0 10px;
    }
    nav.header-nav ul li a{
        font-size: 15px;
    }
    .my-account{
        font-size: 16px;
        right: 15px;
    }
    section.bnr-section {
        top: 50px;
        margin-bottom: 50px;
    }
    .tbl-section .container{
        display: flex;
        flex-direction: column;
    }
    .col-lg-4,.col-lg-8{
        width: 90%;
        margin: auto;
    }
    .mb-show{
        display: block;
    }
    .mb-hide{
        display: none !important;
    }
}
@media (max-width:520px){
    h1.bnr-heading{
        font-size: 6vw;
    }
    h2.bnr-sub-heading{
        font-size: 3vw;
    }
}